.students__content {
  width: 80%;
  margin: 0 auto;
  padding-top: $pd-2;
  h3 {
      @include styleText($color-black-light, $fs-2 - 1, $fw-normal);
  }
  .students__items {
    margin: $mg-1 auto 0;
    position: relative;

    .card {
      margin: 0 $mg-1 - 5;
      cursor: pointer;
      .card-title {
        @include styleText($color-black-0, $fs-0, $fw-bold-1);
      }
      .card-text {
        @include styleText($color-gray-4, $fs-1 - 1, $fw-normal);
      }
      .courses__rating {
        display: flex;
        .rating__star {
          @include styleText($color-yellow, $fs-1, $fw-normal);
          margin-right: $mg-0;
        }
        span:nth-child(2) {
          @include styleText($color-gray-4, $fs-1, $fw-bold);
          margin-right: $mg-0;
        }
        span:last-child {
          @include styleText($color-gray-4, $fs-1, $fw-normal);
        }
      }
      .courses__price {
        text-align: right;
        .old-price {
          @include styleText($color-gray-4, $fs-1, $fw-normal);
          text-decoration-line: line-through;
        }
        .new-price {
          @include styleText($color-black-0, $fs-0, $fw-bold);
        }
      }
    }
  }
}
